[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
binlog-row-image=FULL
binlog-row-metadata=FULL
binlog-expire-logs-seconds=259200
gtid-mode=ON
enforce-gtid-consistency=ON
max-connections=300
skip-name-resolve=ON
